**/.git
**/.gitignore

**/.env
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/

**/build/
**/dist/
**/bin
**/obj


**/.dockerignore
**/docker-compose*
**/Dockerfile*
**/*dev*

data/
logs/
checkpoints/
mlruns/
runs/

*.pkl
*.pt
*.pth
*.hdf5
*.onnx

.ipynb_checkpoints
*.ipynb

**/.vs
**/.vscode
.idea/
*.swp
*~
