[package]
name = "service"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.8"
dto = { version = "0.1.0", path = "../dto" }
entity = { version = "0.1.0", path = "../entity" }
serde_json = "1.0.149"
